# Ignore node_modules everywhere
node_modules/

# Ignore Next.js build and cache folders everywhere
.next/
out/
build/

# Ignore env files
.env*

# Ignore system files
.DS_Store
.ediorconfig

checklist.md
copilot.md